a { color: #4B58A6; }

#map_canvas img {
  max-width: none; }
#legend {
        background: #FFF;
        padding: 10px;
        margin: 5px;
        font-size: 12px;
        font-family: Arial, sans-serif;
      }

      .color {
        border: 1px solid;
        height: 12px;
        width: 12px;
        margin-right: 3px;
        float: left;
      }

      .red {
        background: #e0ffd4;
      }

      .yellow {
        background: #a5ef63;
      }

      .green {
        background: #50aa00;
      }

      .blue {
        background: #459b05;
      }

      .purple {
        background: #3b8d0a;
      }
       .blue1 {
        background: #267114;
      }
.filter-box { 
  height: 15px; 
  width: 15px;  
  display: inline-block;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box; 
}

.filter-yellow { background-color: #FBF358; }
.filter-green { background-color: #00E13C; }
.filter-blue { background-color: #5781FC; }
.filter-purple { background-color: #7C54FB; }
.filter-red { background-color: #FB6353; }
.filter-orange { background-color:#FE9A2E; } 
.filter-celeste { background-color:#00D3EA; }
.filter-white { background-color:#FFFFFF; }





